In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import scipy as scipy
import pingouin as pg
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from IPython.display import Markdown as md


from school_data import schools, exams, ui

/home/mxc/.virtualenvs/data-con/lib/python3.9/site-packages/outdated/utils.py:14: OutdatedCheckFailedWarning: Failed to check for latest version of package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [11]:
demo = schools.load_school_demographics()
# tests = exams.load_math_ela_long()
# pd.read_csv("school-demographics.csv")

schools.search(demo, "success academy")

,dbn,district,boro,school_name,short_name,ay,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,...,missing_race_ethnicity_data_pct,swd_n,swd_pct,ell_n,ell_pct,poverty_n,poverty_pct,eni_pct,clean_name,match
9022,84X494,84,Bronx,Success Academy Charter School - Bronx 2,MS 494,2020,2020-21,1004,0,135,...,0.000996,141,0.140438,73,0.073,786,0.783,0.862,success academy charter school - bronx 2,55
9017,84X493,84,Bronx,Success Academy Charter School - Bronx 1,PS 493,2020,2020-21,600,0,119,...,0.000000,89,0.148333,53,0.088,500,0.833,0.897,success academy charter school - bronx 1,55
8892,84X380,84,Bronx,Success Academy Charter School - Bronx 3,MS 380,2020,2020-21,1200,0,103,...,0.001000,202,0.168000,60,0.050,933,0.777,0.855,success academy charter school - bronx 3,55
8380,84K886,84,Brooklyn,Success Academy Charter School - Flatbush,PS 886,2020,2020-21,587,0,136,...,0.000000,72,0.123000,19,0.032,394,0.671,0.728,success academy charter school - flatbush,54
8611,84M482,84,Manhattan,Success Academy Charter School - Harlem 5,MS 482,2020,2020-21,835,0,63,...,0.000000,122,0.146000,46,0.055,648,0.776,0.836,success academy charter school - harlem 5,54
8581,84M386,84,Manhattan,Success Academy Charter School - Harlem 4,PS 386,2020,2020-21,388,0,58,...,0.000000,67,0.173000,25,0.064,295,0.760,0.836,success academy charter school - harlem 4,54
8576,84M385,84,Manhattan,Success Academy Charter School - Harlem 3,MS 385,2020,2020-21,1229,0,57,...,0.000000,201,0.164000,33,0.027,856,0.697,0.796,success academy charter school - harlem 3,54
8571,84M384,84,Manhattan,Success Academy Charter School - Harlem 2,MS 384,2020,2020-21,692,0,107,...,0.000000,100,0.145000,42,0.061,523,0.756,0.829,success academy charter school - harlem 2,54
8550,84M357,84,Manhattan,Success Academy Charter School - Harlem 6,PS 357,2020,2020-21,375,0,67,...,0.000000,74,0.197000,23,0.061,302,0.805,0.854,success academy charter school - harlem 6,54
8541,84M351,84,Manhattan,Success Academy Charter School - Harlem 1,MS 351,2020,2020-21,1346,0,105,...,0.000000,170,0.126000,36,0.027,944,0.701,0.773,success academy charter school - harlem 1,54
8371,84K882,84,Brooklyn,Success Academy Charter School - Bushwick,PS 882,2020,2020-21,513,0,104,...,0.000000,64,0.125000,86,0.168,380,0.741,0.810,success academy charter school - bushwick,54
8375,84K883,84,Brooklyn,Success Academy Charter School - Bed Stuy 3,MS 883,2020,2020-21,158,0,0,...,0.000000,31,0.196000,1,0.006,81,0.513,0.614,success academy charter school - bed stuy 3,52
8041,84K367,84,Brooklyn,Success Academy Charter School - Bed-Stuy 1,MS 367,2020,2020-21,745,0,69,...,0.000000,133,0.179000,18,0.024,527,0.707,0.774,success academy charter school - bed-stuy 1,52
8631,84M523,84,Manhattan,Success Academy Charter School - Upper West,MS 523,2020,2020-21,898,0,95,...,0.000000,135,0.150000,23,0.026,406,0.452,0.521,success academy charter school - upper west,52
7991,84K125,84,Brooklyn,Success Academy Charter School - Bed-Stuy 2,PS 125,2020,2020-21,286,0,54,...,0.000000,51,0.178000,5,0.017,205,0.717,0.804,success academy charter school - bed-stuy 2,52
7996,84K129,84,Brooklyn,Success Academy Charter School - Cobble Hill,PS 129,2020,2020-21,439,0,103,...,0.000000,58,0.132000,24,0.055,211,0.481,0.544,success academy charter school - cobble hill,51
8241,84K752,84,Brooklyn,Success Academy Charter School - Fort Greene,PS 752,2020,2020-21,224,0,37,...,0.000000,44,0.196000,11,0.049,156,0.696,0.770,success academy charter school - fort greene,51
8554,84M358,84,Manhattan,Success Academy Charter School - Hudson Yards,PS 358,2020,2020-21,406,0,66,...,0.000000,76,0.187000,26,0.064,205,0.505,0.590,success academy charter school - hudson yards,50
8452,84M174,84,Manhattan,Success Academy Charter School - Union Square,MS 174,2020,2020-21,964,0,120,...,0.000000,174,0.180000,32,0.033,368,0.382,0.450,success academy charter school - union square,50
8750,84Q375,84,Queens,Success Academy Charter School - Far Rockaway,PS 375,2020,2020-21,588,0,114,...,0.000000,88,0.150000,14,0.024,410,0.697,0.761,success academy charter school - far rockaway,50
8001,84K182,84,Brooklyn,Success Academy Charter School - Williamsburg,PS 182,2020,2020-21,411,0,89,...,0.000000,71,0.173000,31,0.075,256,0.623,0.686,success academy charter school - williamsburg,50
8221,84K741,84,Brooklyn,Success Academy Charter School - Crown Heights,MS 741,2020,2020-21,843,0,95,...,0.000000,123,0.146000,16,0.019,497,0.590,0.660,success academy charter school - crown heights,49
8745,84Q374,84,Queens,Success Academy Charter School - South Jamaica,PS 374,2020,2020-21,431,0,101,...,0.000000,59,0.137000,22,0.051,255,0.592,0.613,success academy charter school - south jamaica,49
8447,84M170,84,Manhattan,Success Academy Charter School - Hell's Kitchen,PS 170,2020,2020-21,434,0,94,...,0.005000,80,0.184000,33,0.076,261,0.601,0.682,success academy charter school - hell's kitchen,48
8246,84K756,84,Brooklyn,Success Academy Charter School - Prospect Heights,MS 756,2020,2020-21,622,0,92,...,0.000000,89,0.143000,6,0.010,386,0.621,0.696,success academy charter school - prospect heights,47
8301,84K781,84,Brooklyn,Success Academy Charter School - Bergen Beach ...,MS 781,2020,2020-21,940,0,120,...,0.000000,98,0.104000,13,0.014,518,0.551,0.600,success academy charter school - bergen beach ...,46
8276,84K772,84,Brooklyn,Success Academy Charter School - Bensonhurst -...,PS 772,2020,2020-21,640,0,104,...,0.000000,83,0.130000,121,0.189,320,0.500,0.593,success academy charter school - bensonhurst -...,46
8477,84M265,84,Manhattan,Success Academy Charter School - Washington He...,PS 265,2020,2020-21,628,0,116,...,0.000000,87,0.139000,63,0.100,443,0.705,0.784,success academy charter school - washington he...,46
8706,84Q337,84,Queens,Success Academy Charter School - Rosedale - Ne...,PS 337,2020,2020-21,747,0,139,...,0.000000,74,0.099000,3,0.004,372,0.498,0.519,success academy charter school - rosedale - ne...,46
8711,84Q339,84,Queens,Success Academy Charter School - Springfield G...,MS 339,2020,2020-21,923,0,107,...,0.000000,87,0.094000,9,0.010,462,0.501,0.521,success academy charter school - springfield g...,46
8957,84X464,84,Bronx,Success Academy Charter School - Bronx 4 - New...,PS 464,2020,2020-21,596,0,126,...,0.002000,96,0.161000,29,0.049,438,0.735,0.806,success academy charter school - bronx 4 - new...,46

In [70]:
df = demo[schools.demo.core_cols].merge(tests, how="inner", on=["dbn", "ay"])
df = df[df["mean_scale_score"].notnull()]
df = df.query("ay > 2016") # they changed the test scores, so can't really be compared
df.charter = df.charter.map({True:1, False:0})
df.columns

Index(['dbn', 'district', 'boro', 'school_name', 'ay', 'total_enrollment',
       'asian_n', 'asian_pct', 'black_n', 'black_pct', 'hispanic_n',
       'hispanic_pct', 'white_n', 'white_pct', 'swd_n', 'swd_pct', 'ell_n',
       'ell_pct', 'poverty_n', 'poverty_pct', 'eni_pct', 'grade', 'year',
       'category', 'number_tested', 'mean_scale_score', 'level_1_n',
       'level_1_pct', 'level_2_n', 'level_2_pct', 'level_3_n', 'level_3_pct',
       'level_4_n', 'level_4_pct', 'level_3_4_n', 'level_3_4_pct', 'test_year',
       'charter', 'exam'],
      dtype='object')

In [21]:
# Pearson R correlation
charter_R = pg.corr(df["charter"], df["mean_scale_score"])

charter_R

              n         r         CI95%         p-val       BF10  power
pearson  306091  0.015013  [0.01, 0.02]  9.846823e-17  2.179e+12    1.0

In [71]:
# T test
pub = df.query("charter == 0 and district <= 32")
charter = df.query("charter == 1")

t, p = scipy.stats.ttest_ind(pub["mean_scale_score"], charter["mean_scale_score"])

In [72]:
md(f"""
T-Test comparing test scores for charter and public schools
------------------------------------------------------------
T-Test results comparing average math and ELA test scores for academic years {df.ay.min()}-{df.ay.min()}.
Data includes the mean average test score for {len(charter["dbn"].unique()):,} charter schools
and {len(pub["dbn"].unique()):,} community schools.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Charter schools: M={round(charter["mean_scale_score"].mean(), 2)}, SD={round(charter["mean_scale_score"].std(), 2)}
Community schools: M={round(pub["mean_scale_score"].mean(), 2)}, SD={round(pub["mean_scale_score"].std(), 2)}
          T-score: {round(t, 2)}, p-val: {round(p, 4)}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
""")

T-Test comparing test scores for charter and public schools
------------------------------------------------------------
T-Test results comparing average math and ELA test scores for academic years 2017-2017.
Data includes the mean average test score for 191 charter schools
and 1,114 community schools.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Charter schools: M=606.34, SD=9.41
Community schools: M=598.86, SD=11.85
          T-score: -38.78, p-val: 0.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~

### Why do charter school students score higher on NYS exams?

We can interpret these results to understand that the higher mean test scores for charter schools is statistically significant (p<.01). The t-test doesn't offer insight into _why_ charters produce
higher test scores. In the academic and popular literature surrounding schools, though, several
hypothesis have been forwarded to explain the difference in scores:

- charter schools are more rigorous: they have better instructional methods, faculty, and/or leadership
- charters teach (more) to the test than community schools
- charter schools "council out" students who aren't doing well academically
- charter schools don't enroll students with IEPs (in special education) and/or English learners
- charter school families are self-selecting because they _chose_ to attend charters
- charters are better funded: they receive the same funding as community schools _and_ have backing from the wealthiest corporate backers in the world (Walton family, Gates Foundation, etc)

In the next sections we will see if our data can help understand which of these factors better explain the test results.

In [81]:
agg = {
    "dbn":"count",
    "total_enrollment":["sum","mean"],
    "mean_scale_score": ["mean", "min", "max", "std"]
}
table = df.groupby(["charter", "ay"]).agg(agg)
counts = df.groupby(["charter", "ay"]).dbn.nunique()
counts = pd.DataFrame(counts)
table.merge(counts,how="inner", on=["ay","charter"])
table = table.reset_index()
table.columns = table.columns.to_flat_index()

table.columns = [
    "School Type", 
    "Year", 
    "No. Schools", 
    "No. Students", 
    "Avg School Size", 
    "Test Score (mean)",
    "Test Score (min)",
    "Test Score (max)",
    "Test Score (stand. deviation)"]
table["School Type"] = table["School Type"].map({1:"charter",0:"public"})
table.columns
ui.fmt_table(table,num_cols=['No. Schools', 'No. Students', 'Avg School Size',
       'Test Score (mean)', 'Test Score (min)', 'Test Score (max)',
       'Test Score (stand. deviation)'])

,School Type,Year,No. Schools,No. Students,Avg School Size,Test Score (mean),Test Score (min),Test Score (max),Test Score (stand. deviation)
0,public,2017,"99,651","66,238,091",664.7007154970848,598.8615453558458,555.1428833,646.833313,11.844448010820207
1,public,2018,"101,219","65,880,164",650.8675643900849,598.8486080702111,553.25,645.875,11.856529609276766
2,charter,2017,"1,849","1,124,769",608.3120605732829,606.3250405624661,577.0,638.0,9.300236539314785
3,charter,2018,"1,969","1,211,955",615.518029456577,606.3499238191976,575.0,639.0,9.507001658399524

In [41]:

# T test
pub = demo.query("district <= 32")
charter = demo.query("district == 84")

t, p = scipy.stats.ttest_ind(pub["black_pct"], charter["black_pct"])
md(f"""
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          T-score: {round(t, 2)}, p-val: {round(p, 4)}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
""")

def get_t(col):
    t, p = scipy.stats.ttest_ind(pub[col], charter[col])
    pub_avg = pub[col].mean()
    charter_avg = charter[col].mean()
    return {
        "category": " ".join(col.split("_")[:-1]).title(),
        "% public": pub_avg,
        "% charter": charter_avg,
        "% diff": (charter_avg - pub_avg) / pub_avg,
        "t-score": t,
        "p-value": p
    }
factors = [ col for col in pub.columns if col.endswith("_pct")]
factors
table = pd.DataFrame([get_t(col) for col in factors])
table = table.sort_values(by="% diff")
ui.fmt_table(table, pct_cols=table.columns[1:4], num_cols=table.columns[-2:])
# table

                       category % public % charter  % diff  t-score p-value
2                         Asian    13.0%      2.9%  -77.6%   19.591     0.0
7                         White    13.1%      4.9%  -62.8%   14.908     0.0
10                          Ell    14.4%      7.7%  -46.2%   15.379     0.0
8   Missing Race Ethnicity Data     0.4%      0.3%  -24.9%    3.273   0.001
5                  Multi Racial     1.1%      1.0%  -13.2%    2.616   0.009
9                           Swd    21.1%     19.1%   -9.3%     8.03     0.0
4                      Hispanic    43.3%     40.7%   -6.0%    3.302   0.001
6               Native American     1.1%      1.1%   -4.3%    0.773    0.44
1                          Male    51.1%     49.8%   -2.6%    5.002     0.0
0                        Female    48.9%     50.2%    2.7%   -5.007     0.0
12                          Eni    72.3%     75.4%    4.3%   -4.919     0.0
11                      Poverty    75.8%     79.8%    5.3%   -6.561     0.0
3                         Black    28.0%     49.2%   75.6%  -26.381     0.0