In [1]:
import pandas as pd
from IPython.display import Markdown as md
from school_data import schools, ui, exams

In [2]:
# load the math test scores for all schools
# only regular public schools have categories
# "all students" are included for charters
math_df = exams.load_math()
math_df

/home/mxc/Projects/school-data-portal/nb/school_data/exams.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["charter"] = True

,dbn,grade,year,category,number_tested,mean_scale_score,level_1_n,level_1_pct,level_2_n,level_2_pct,level_3_n,level_3_pct,level_4_n,level_4_pct,level_3_4_n,level_3_4_pct,test_year,ay,charter
0,01M015,3,2013,All Students,27,277.777771,16.0,59.259258,11.0,40.740742,0.0,0.0,0.0,0.0,0.0,0.0,2013,2012,False
7,01M015,4,2013,All Students,20,277.399994,12.0,60.0,6.0,30.0,1.0,5.0,1.0,5.0,2.0,10.0,2013,2012,False
14,01M015,5,2013,All Students,24,274.0,17.0,70.833336,6.0,25.0,1.0,4.166667,0.0,0.0,1.0,4.166667,2013,2012,False
21,01M015,All Grades,2013,All Students,71,276.394379,45.0,63.380283,23.0,32.394367,2.0,2.816901,1.0,1.408451,3.0,4.225352,2013,2012,False
32606,01M015,3,2013,Not SWD,19,275.736847,11.0,57.894737,8.0,42.105263,0.0,0.0,0.0,0.0,0.0,0.0,2013,2012,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5244,84X730,3,2019,All Students,51,604,7,13.7,12,23.5,20,39.2,12,23.5,32,62.7,2019,2018,True
5251,84X730,4,2019,All Students,47,597,15,31.9,10,21.3,15,31.9,7,14.9,22,46.8,2019,2018,True
5258,84X730,5,2019,All Students,53,593,23,43.4,13,24.5,12,22.6,5,9.4,17,32.1,2019,2018,True
5259,84X730,6,2019,All Students,110,595,38,34.5,30,27.3,34,30.9,8,7.3,42,38.2,2019,2018,True
5266,84X730,All Grades,2019,All Students,261,597,83,31.8,65,24.9,81,31.0,32,12.3,113,43.3,2019,2018,True

In [3]:
ela_df = exams.load_ela()
ela_df

/home/mxc/Projects/school-data-portal/nb/school_data/exams.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["charter"] = True

,dbn,grade,year,category,number_tested,mean_scale_score,level_1_n,level_1_pct,level_2_n,level_2_pct,level_3_n,level_3_pct,level_4_n,level_4_pct,level_3_4_n,level_3_4_pct,test_year,ay,charter
0,01M015,3,2013,All Students,27,289.296295,14.0,51.851852,11.0,40.740742,2.0,7.407407,0.0,0.0,2.0,7.407407,2013,2012,False
7,01M015,4,2013,All Students,20,277.649994,8.0,40.0,11.0,55.0,1.0,5.0,0.0,0.0,1.0,5.0,2013,2012,False
14,01M015,5,2013,All Students,24,283.958344,12.0,50.0,11.0,45.833332,1.0,4.166667,0.0,0.0,1.0,4.166667,2013,2012,False
21,01M015,All Grades,2013,All Students,71,284.211273,34.0,47.887325,33.0,46.478874,4.0,5.633803,0.0,0.0,4.0,5.633803,2013,2012,False
32826,01M015,3,2013,Not SWD,19,287.157898,11.0,57.894737,8.0,42.105263,0.0,0.0,0.0,0.0,0.0,0.0,2013,2012,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326,84X730,3,2019,All Students,51,602,2,3.9,22,43.1,23,45.1,4,7.8,27,52.9,2019,2018,True
5333,84X730,4,2019,All Students,49,591,18,36.7,14,28.6,13,26.5,4,8.2,17,34.7,2019,2018,True
5340,84X730,5,2019,All Students,53,597,18,34.0,20,37.7,8,15.1,7,13.2,15,28.3,2019,2018,True
5341,84X730,6,2019,All Students,113,592,45,39.8,33,29.2,23,20.4,12,10.6,35,31.0,2019,2018,True
5348,84X730,All Grades,2019,All Students,266,594,83,31.2,89,33.5,67,25.2,27,10.2,94,35.3,2019,2018,True

In [9]:
# work on loading regents exams from Excel
url = "https://data.cityofnewyork.us/api/views/2h3w-9uj9/files/ae520e30-953f-47a0-9654-c77900232236?download=true&filename=2014-15-to-2018-19-nyc-regents-overall-and-by-category---public%20(1).xlsx"
xls = pd.read_excel(url, sheet_name=None)
xls
xls.keys()

dict_keys(['All Students', 'By Gender', 'By Ethnicity', 'By ELL Status', 'By SWD Status', 'NOTES', 'School Profile', 'lookup'])