In [1]:
import requests
import pandas as pd
import zipfile
import io
import re
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import WebDriverException

In [ ]:
urls = [
    # from 2015 to 2018, there are 5 files in common core, and a separate geocode file

    # these are school-level files

    # to find these files via the website, go to this URL:
    # https://nces.ed.gov/ccd/files.asp
    # select 'Nonfiscal' and 'School' for the level.
    # the geocode file is separate:
    # https://nces.ed.gov/programs/edge/Geographic/SchoolLocations

    # three-char codes in the filenames:
    # 029 = directory file
    # 052 = membership file
    # 059 = staff file
    # 129 = school characteristics file
    # 033 = lunch program accessibility

    # 2020
    "https://nces.ed.gov/ccd/Data/zip/ccd_sch_029_1920_w_1a_082120.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_SCH_052_1920_l_1a_082120.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_059_1920_l_1a_082120.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_129_1920_w_1a_082120.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_033_1920_l_1a_082120.zip"
    # geocode
    ,"https://nces.ed.gov/programs/edge/data/EDGE_GEOCODE_PUBLICSCH_1920.zip"

    # 2019
    ,"https://nces.ed.gov/ccd/data/zip/ccd_sch_029_1819_w_1a_091019.zip"
    ,"https://nces.ed.gov/ccd/data/zip/ccd_sch_052_1819_l_1a_091019.zip"
    ,"https://nces.ed.gov/ccd/data/zip/ccd_sch_059_1819_l_1a_091019.zip"
    ,"https://nces.ed.gov/ccd/data/zip/ccd_sch_129_1819_w_1a_091019.zip"
    ,"https://nces.ed.gov/ccd/data/zip/ccd_sch_033_1819_l_1a_091019.zip"
    # geocode
    ,"https://nces.ed.gov/programs/edge/data/EDGE_GEOCODE_PUBLICSCH_1819.zip"

    # 2018
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_029_1718_w_1a_083118.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_052_1718_l_1a_083118.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_059_1718_l_1a_083118.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_129_1718_w_1a_083118.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_033_1718_l_1a_083118.zip"
    # geocode
    ,"https://nces.ed.gov/programs/edge/data/EDGE_GEOCODE_PUBLICSCH_1718.zip"

    # 2017
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_029_1617_w_1a_11212017_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_SCH_052_1617_l_2a_11212017_CSV.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_059_1617_l_2a_11212017_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_129_1617_w_1a_11212017_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_033_1617_l_2a_11212017_csv.zip"
    # geocode
    ,"https://nces.ed.gov/programs/edge/data/EDGE_GEOCODE_PUBLICSCH_1617.zip"

    # 2016
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_029_1516_w_2a_011717_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_052_1516_w_2a_011717_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_059_1516_w_2a_011717_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_129_1516_w_2a_011717_csv.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_033_1516_w_2a_011717_csv.zip"
    # geocode
    ,"https://nces.ed.gov/programs/edge/data/EDGE_GEOCODE_PUBLICSCH_1516.zip"

    # 2015
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_029_1415_w_0216601a_txt.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_052_1415_w_0216161a_txt.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_059_1415_w_0216161a_txt.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_129_1415_w_0216161a_txt.zip"
    ,"https://nces.ed.gov/ccd/Data/zip/ccd_sch_033_1415_w_0216161a_txt.zip"
    # last year that geocode data is provided as part of common core data; after this, it's on EDGE page
    ,"https://nces.ed.gov/ccd/Data/zip/EDGE_GEOIDS_201415_PUBLIC_SCHOOL_csv.zip"

    # 2014
    ,"https://nces.ed.gov/ccd/Data/zip/sc132a_txt.zip"
    # 2013
    ,"https://nces.ed.gov/ccd/Data/zip/sc122a_txt.zip"
    # 2012
    ,"https://nces.ed.gov/ccd/Data/zip/sc111a_supp_txt.zip"
    # 2011
    ,"https://nces.ed.gov/ccd/Data/zip/sc102a_txt.zip"
    # 2010
    ,"https://nces.ed.gov/ccd/data/zip/sc092a_txt.zip"
    # 2009
    ,"https://nces.ed.gov/ccd/data/zip/sc081b_txt.zip"
    # 2008
    ,"https://nces.ed.gov/ccd/data/zip/sc071b_txt.zip"

    # 2007
    ,"https://nces.ed.gov/ccd/data/zip/sc061cai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc061ckn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc061cow_dat.zip"

    # 2006
    ,"https://nces.ed.gov/ccd/data/zip/sc051aai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc051akn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc051aow_dat.zip"

    # 2005
    ,"https://nces.ed.gov/ccd/data/zip/sc041bai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc041bkn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc041bow_dat.zip"

    # 2004
    ,"https://nces.ed.gov/ccd/data/zip/sc031aai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc031akn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc031aow_dat.zip"

    # 2003
    ,"https://nces.ed.gov/ccd/data/zip/sc021aai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc021akn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc021aow_dat.zip"

    # 2002
    ,"https://nces.ed.gov/ccd/data/zip/sc011aai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc011akn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc011aow_dat.zip"

    # 2001
    ,"https://nces.ed.gov/ccd/data/zip/sc001aai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc001akn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc001aow_dat.zip"

    # 2000
    ,"https://nces.ed.gov/ccd/data/zip/sc991bai_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc991bkn_dat.zip"
    ,"https://nces.ed.gov/ccd/data/zip/sc991bow_dat.zip"

]

In [ ]:
# opt = webdriver.ChromeOptions()
# opt.add_argument("--headless")
# driver = webdriver.Chrome(options=opt)
# driver.get(url)
# html = driver.page_source

# soup = BeautifulSoup(html, 'html.parser')

In [2]:
years = range(1986, 2024)
# years = range(2001, 2024)
# years = range(2009, 2024)

fmt_urla = "https://nces.ed.gov/ccd/data/txt/psu{year}lay.txt"
fmt_urlb = "https://nces.ed.gov/ccd/data/txt/sc{year}1alay.txt"

data_urls = [
    "https://nces.ed.gov/ccd/data/zip/psu{year}ai_dat.zip",
    "https://nces.ed.gov/ccd/data/zip/psu{year}kn_dat.zip",
    "https://nces.ed.gov/ccd/data/zip/psu{year}ow_dat.zip"
]


def get_fmt_url(year, session):
    y = year % 100
    if year in [2002, 2003, 2005, 2008]:
        y = f"{y:02d}1a"
    elif year in [2009, 2010]:
        y = f"{y:02d}2a"
    elif year > 2001:
        y = f"{y:02d}1b"
    else:
        y = f"{y:02d}"

    if year > 2010:
        url = fmt_urlb.format(year=year % 100)
    else:
        url = fmt_urla.format(year=y)
    
    response = session.get(url)
    txt = response.content.decode('latin1')
    if response.status_code == 404:
        return (year, url, False)
    return (year, url, True)


with requests.Session() as s:
    fmt_urls = [get_fmt_url(year, s) for year in years]
    # x = get_fmt_url(2011, s)
fmt_urls

[(1986, 'https://nces.ed.gov/ccd/data/txt/psu86lay.txt', True),
 (1987, 'https://nces.ed.gov/ccd/data/txt/psu87lay.txt', True),
 (1988, 'https://nces.ed.gov/ccd/data/txt/psu88lay.txt', True),
 (1989, 'https://nces.ed.gov/ccd/data/txt/psu89lay.txt', True),
 (1990, 'https://nces.ed.gov/ccd/data/txt/psu90lay.txt', True),
 (1991, 'https://nces.ed.gov/ccd/data/txt/psu91lay.txt', True),
 (1992, 'https://nces.ed.gov/ccd/data/txt/psu92lay.txt', True),
 (1993, 'https://nces.ed.gov/ccd/data/txt/psu93lay.txt', True),
 (1994, 'https://nces.ed.gov/ccd/data/txt/psu94lay.txt', True),
 (1995, 'https://nces.ed.gov/ccd/data/txt/psu95lay.txt', True),
 (1996, 'https://nces.ed.gov/ccd/data/txt/psu96lay.txt', True),
 (1997, 'https://nces.ed.gov/ccd/data/txt/psu97lay.txt', True),
 (1998, 'https://nces.ed.gov/ccd/data/txt/psu98lay.txt', True),
 (1999, 'https://nces.ed.gov/ccd/data/txt/psu99lay.txt', True),
 (2000, 'https://nces.ed.gov/ccd/data/txt/psu00lay.txt', True),
 (2001, 'https://nces.ed.gov/ccd/data/txt/psu01lay.txt', True),
 (2002, 'https://nces.ed.gov/ccd/data/txt/psu021alay.txt', True),
 (2003, 'https://nces.ed.gov/ccd/data/txt/psu031alay.txt', True),
 (2004, 'https://nces.ed.gov/ccd/data/txt/psu041blay.txt', True),
 (2005, 'https://nces.ed.gov/ccd/data/txt/psu051alay.txt', True),
 (2006, 'https://nces.ed.gov/ccd/data/txt/psu061blay.txt', True),
 (2007, 'https://nces.ed.gov/ccd/data/txt/psu071blay.txt', True),
 (2008, 'https://nces.ed.gov/ccd/data/txt/psu081alay.txt', True),
 (2009, 'https://nces.ed.gov/ccd/data/txt/psu092alay.txt', True),
 (2010, 'https://nces.ed.gov/ccd/data/txt/psu102alay.txt', True),
 (2011, 'https://nces.ed.gov/ccd/data/txt/sc111alay.txt', True),
 (2012, 'https://nces.ed.gov/ccd/data/txt/sc121alay.txt', True),
 (2013, 'https://nces.ed.gov/ccd/data/txt/sc131alay.txt', True),
 (2014, 'https://nces.ed.gov/ccd/data/txt/sc141alay.txt', False),
 (2015, 'https://nces.ed.gov/ccd/data/txt/sc151alay.txt', False),
 (2016, 'https://nces.ed.gov/ccd/data/txt/sc161alay.txt', False),
 (2017, 'https://nces.ed.gov/ccd/data/txt/sc171alay.txt', False),
 (2018, 'https://nces.ed.gov/ccd/data/txt/sc181alay.txt', False),
 (2019, 'https://nces.ed.gov/ccd/data/txt/sc191alay.txt', False),
 (2020, 'https://nces.ed.gov/ccd/data/txt/sc201alay.txt', False),
 (2021, 'https://nces.ed.gov/ccd/data/txt/sc211alay.txt', False),
 (2022, 'https://nces.ed.gov/ccd/data/txt/sc221alay.txt', False),
 (2023, 'https://nces.ed.gov/ccd/data/txt/sc231alay.txt', False)]

In [3]:
failed = {y: url for y, url, success in fmt_urls if not success}
# failed[2000]
'https://nces.ed.gov/ccd/data/txt/psu00lay.txt'  # 2000
'https://nces.ed.gov/ccd/data/txt/psu01lay.txt' # 2001
'https://nces.ed.gov/ccd/data/txt/psu021alay.txt' # 2002
'https://nces.ed.gov/ccd/data/txt/psu092alay.txt'  # 2009
'https://nces.ed.gov/ccd/data/txt/psu102alay.txt' #2010
'https://nces.ed.gov/ccd/data/txt/sc111alay.txt'  # 2011

valid = {y: url for y, url, success in fmt_urls if success}
valid

{1986: 'https://nces.ed.gov/ccd/data/txt/psu86lay.txt',
 1987: 'https://nces.ed.gov/ccd/data/txt/psu87lay.txt',
 1988: 'https://nces.ed.gov/ccd/data/txt/psu88lay.txt',
 1989: 'https://nces.ed.gov/ccd/data/txt/psu89lay.txt',
 1990: 'https://nces.ed.gov/ccd/data/txt/psu90lay.txt',
 1991: 'https://nces.ed.gov/ccd/data/txt/psu91lay.txt',
 1992: 'https://nces.ed.gov/ccd/data/txt/psu92lay.txt',
 1993: 'https://nces.ed.gov/ccd/data/txt/psu93lay.txt',
 1994: 'https://nces.ed.gov/ccd/data/txt/psu94lay.txt',
 1995: 'https://nces.ed.gov/ccd/data/txt/psu95lay.txt',
 1996: 'https://nces.ed.gov/ccd/data/txt/psu96lay.txt',
 1997: 'https://nces.ed.gov/ccd/data/txt/psu97lay.txt',
 1998: 'https://nces.ed.gov/ccd/data/txt/psu98lay.txt',
 1999: 'https://nces.ed.gov/ccd/data/txt/psu99lay.txt',
 2000: 'https://nces.ed.gov/ccd/data/txt/psu00lay.txt',
 2001: 'https://nces.ed.gov/ccd/data/txt/psu01lay.txt',
 2002: 'https://nces.ed.gov/ccd/data/txt/psu021alay.txt',
 2003: 'https://nces.ed.gov/ccd/data/txt/psu031alay.txt',
 2004: 'https://nces.ed.gov/ccd/data/txt/psu041blay.txt',
 2005: 'https://nces.ed.gov/ccd/data/txt/psu051alay.txt',
 2006: 'https://nces.ed.gov/ccd/data/txt/psu061blay.txt',
 2007: 'https://nces.ed.gov/ccd/data/txt/psu071blay.txt',
 2008: 'https://nces.ed.gov/ccd/data/txt/psu081alay.txt',
 2009: 'https://nces.ed.gov/ccd/data/txt/psu092alay.txt',
 2010: 'https://nces.ed.gov/ccd/data/txt/psu102alay.txt',
 2011: 'https://nces.ed.gov/ccd/data/txt/sc111alay.txt',
 2012: 'https://nces.ed.gov/ccd/data/txt/sc121alay.txt',
 2013: 'https://nces.ed.gov/ccd/data/txt/sc131alay.txt'}

In [16]:

format_files = {
    1986: 'https://nces.ed.gov/ccd/data/txt/psu86lay.txt',
    1987: 'https://nces.ed.gov/ccd/data/txt/psu87lay.txt',
    1988: 'https://nces.ed.gov/ccd/data/txt/psu88lay.txt',
    1989: 'https://nces.ed.gov/ccd/data/txt/psu89lay.txt',
    1990: 'https://nces.ed.gov/ccd/data/txt/psu90lay.txt',
    1991: 'https://nces.ed.gov/ccd/data/txt/psu91lay.txt',
    1992: 'https://nces.ed.gov/ccd/data/txt/psu92lay.txt',
    1993: 'https://nces.ed.gov/ccd/data/txt/psu93lay.txt',
    1994: 'https://nces.ed.gov/ccd/data/txt/psu94lay.txt',
    1995: 'https://nces.ed.gov/ccd/data/txt/psu95lay.txt',
    1996: 'https://nces.ed.gov/ccd/data/txt/psu96lay.txt',
    1997: 'https://nces.ed.gov/ccd/data/txt/psu97lay.txt',
    1998: 'https://nces.ed.gov/ccd/data/txt/psu98lay.txt',
    1999: 'https://nces.ed.gov/ccd/data/txt/psu99lay.txt',
    2000: 'https://nces.ed.gov/ccd/data/txt/psu00lay.txt',
    2001: 'https://nces.ed.gov/ccd/data/txt/psu01lay.txt',
    2002: 'https://nces.ed.gov/ccd/data/txt/psu021alay.txt',
    2003: 'https://nces.ed.gov/ccd/data/txt/psu031alay.txt',
    2004: 'https://nces.ed.gov/ccd/data/txt/psu041blay.txt',
    2005: 'https://nces.ed.gov/ccd/data/txt/psu051alay.txt',
    2006: 'https://nces.ed.gov/ccd/data/txt/psu061blay.txt',
    2007: 'https://nces.ed.gov/ccd/data/txt/psu071blay.txt',
    2008: 'https://nces.ed.gov/ccd/data/txt/psu081alay.txt',
    2009: 'https://nces.ed.gov/ccd/data/txt/psu092alay.txt',
    2010: 'https://nces.ed.gov/ccd/data/txt/psu102alay.txt',
    2011: 'https://nces.ed.gov/ccd/data/txt/sc111alay.txt',
    2012: 'https://nces.ed.gov/ccd/data/txt/sc121alay.txt',
    2013: 'https://nces.ed.gov/ccd/data/txt/sc131alay.txt'
}

with requests.Session() as s:
    for year, url in valid.items():
        print(f"Downloading {year} data from {url}")
        response = s.get(url)
        if response.status_code != 200:
            print(f"Failed to download {year} data.")
            continue
        txt = response.content.decode('latin1')
        # Save the file
        filename = f"layout-{year}.txt"
        path = f"/home/mxc/Projects/school-data-portal/drafts/_data/ccd/layouts/{filename}"
        with open(path, 'w', encoding='latin1') as f:
            f.write(txt)
        print(f"Saved {filename}")

Downloading 1986 data from https://nces.ed.gov/ccd/data/txt/psu86lay.txt
Saved layout-1986.txt
Downloading 1987 data from https://nces.ed.gov/ccd/data/txt/psu87lay.txt
Saved layout-1987.txt
Downloading 1988 data from https://nces.ed.gov/ccd/data/txt/psu88lay.txt
Saved layout-1988.txt
Downloading 1989 data from https://nces.ed.gov/ccd/data/txt/psu89lay.txt
Saved layout-1989.txt
Downloading 1990 data from https://nces.ed.gov/ccd/data/txt/psu90lay.txt
Saved layout-1990.txt
Downloading 1991 data from https://nces.ed.gov/ccd/data/txt/psu91lay.txt
Saved layout-1991.txt
Downloading 1992 data from https://nces.ed.gov/ccd/data/txt/psu92lay.txt
Saved layout-1992.txt
Downloading 1993 data from https://nces.ed.gov/ccd/data/txt/psu93lay.txt
Saved layout-1993.txt
Downloading 1994 data from https://nces.ed.gov/ccd/data/txt/psu94lay.txt
Saved layout-1994.txt
Downloading 1995 data from https://nces.ed.gov/ccd/data/txt/psu95lay.txt
Saved layout-1995.txt
Downloading 1996 data from https://nces.ed.gov/ccd/data/txt/psu96lay.txt
Saved layout-1996.txt
Downloading 1997 data from https://nces.ed.gov/ccd/data/txt/psu97lay.txt
Saved layout-1997.txt
Downloading 1998 data from https://nces.ed.gov/ccd/data/txt/psu98lay.txt
Saved layout-1998.txt
Downloading 1999 data from https://nces.ed.gov/ccd/data/txt/psu99lay.txt
Saved layout-1999.txt
Downloading 2000 data from https://nces.ed.gov/ccd/data/txt/psu00lay.txt
Saved layout-2000.txt
Downloading 2001 data from https://nces.ed.gov/ccd/data/txt/psu01lay.txt
Saved layout-2001.txt
Downloading 2002 data from https://nces.ed.gov/ccd/data/txt/psu021alay.txt
Saved layout-2002.txt
Downloading 2003 data from https://nces.ed.gov/ccd/data/txt/psu031alay.txt
Saved layout-2003.txt
Downloading 2004 data from https://nces.ed.gov/ccd/data/txt/psu041blay.txt
Saved layout-2004.txt
Downloading 2005 data from https://nces.ed.gov/ccd/data/txt/psu051alay.txt
Saved layout-2005.txt
Downloading 2006 data from https://nces.ed.gov/ccd/data/txt/psu061blay.txt
Saved layout-2006.txt
Downloading 2007 data from https://nces.ed.gov/ccd/data/txt/psu071blay.txt
Saved layout-2007.txt
Downloading 2008 data from https://nces.ed.gov/ccd/data/txt/psu081alay.txt
Saved layout-2008.txt
Downloading 2009 data from https://nces.ed.gov/ccd/data/txt/psu092alay.txt
Saved layout-2009.txt
Downloading 2010 data from https://nces.ed.gov/ccd/data/txt/psu102alay.txt
Saved layout-2010.txt
Downloading 2011 data from https://nces.ed.gov/ccd/data/txt/sc111alay.txt
Saved layout-2011.txt
Downloading 2012 data from https://nces.ed.gov/ccd/data/txt/sc121alay.txt
Saved layout-2012.txt
Downloading 2013 data from https://nces.ed.gov/ccd/data/txt/sc131alay.txt
Saved layout-2013.txt

In [ ]:

def get_format(txt):
    txt = re.sub("\s+DKB.*$", "", txt, flags=re.MULTILINE)
    i = txt.find("\nName")
    txt = txt[i:]
    txt = txt.replace("  GRADE", " GRADE")
    txt = re.sub(r"^(\s*\+.*) AN", r"\1\tAN", txt, flags=re.MULTILINE)
    txt = txt.replace("\t", "    ")
    lines = txt.splitlines()
    lines = [line.strip() for line in lines if line.strip()]

    rows = [re.split("\s\s+", line) for line in lines]
    rows = [[word.strip() for word in row if word.strip()] for row in rows]
    cols = rows.pop(0)
    
    df = pd.DataFrame(rows, columns=cols)
    df.loc[df["Type"].str.endswith("*"), "Type"] = "F"
    df.loc[df["Size"].str.endswith("*"), "Type"] = "F"
    df.Position = df.Position.str.replace("*", "")
    df.Size = df.Size.str.replace("*", "")
    df["start"] = df.Position.str.split("-").str[0].astype(int) - 1
    df["end"] = df.Position.str.split("-").str[1].astype(int)
    df["Name"] = df["Name"].str.replace("+", "")
    return df


def get_fmt_year(year, session):
    url = format_files[year]
    
    response = session.get(url)

    txt = response.content.decode('latin1')
    try:
        format = get_format(txt)
        format["ay"] = year
        return format
    except Exception as e:
        print(f"Error processing format for year {year}: {e}")
        return None



with requests.Session() as s:
    formats = {year: get_fmt_year(year, s) for year in range(1986, 1995)}

# # formats

# format = get_fmt_year(1988, requests.Session())
formats[1995].head(50)

Error processing format for year 1996: pop from empty list

,Name,Type,Position,Size,Description,start,end,ay
0,NCESSHC,AN,001-012,12,UNIQUE SCHOOL ID (NCES ASSIGNED),0,12,1995
1,FIPS,AN,001-002,2,FIPS STATE CODE FOR LOCATION OF SCHOOL,0,2,1995
2,LEAID,AN,001-007,7,UNIQUE SYSTEM ID (NCES ASSIGNED),0,7,1995
3,SCHNO,AN,008-012,5,SCHOOL NUMBER WITHIN STATE (NCES),7,12,1995
4,STID95,AN,013-026,14,STATE AGENCY ID,12,26,1995
5,LEANM95,AN,027-056,30,NAME OF OPERATING AGENCY,26,56,1995
6,SEASCH95,AN,057-076,20,STATE SCHOOL ID,56,76,1995
7,SCHNAM95,AN,077-106,30,SCHOOL NAME,76,106,1995
8,STREET95,AN,107-136,30,MAILING ADDRESS OF SCHOOL,106,136,1995
9,CITY95,AN,137-154,18,CITY NAME (MAILING ADDRESS),136,154,1995
10,ST95,AN,155-156,2,STATE ABBREVIATION (POSTAL SERVICE),154,156,1995
11,ZIP95,AN,157-161,5,5-DIGIT ZIP CODE,156,161,1995
12,ZIP495,AN,162-165,4,ZIP+4 IF ASSIGNED,161,165,1995
13,PHONE95,AN,166-175,10,TELEPHONE NUMBER OF SCHOOL,165,175,1995
14,TYPE95,AN,176-176,1,SCHOOL TYPE CODE,175,176,1995
15,STATUS95,AN,177-177,1,OPERATIONAL STATUS CODE,176,177,1995
16,LOCALE95,AN,178-178,1,TYPE OF LOCALE CODE,177,178,1995
17,FTE95,N,179-183,5,CLASSROOM TEACHERS (FTE),178,183,1995
18,GRSPAN95,AN,184-187,4,GRADE SPAN OF SCHOOL,183,187,1995
19,GSLO95,AN,184-185,2,SCHOOL LOW GRADE (FROM GRADE ENROLLMENT),183,185,1995
20,GSHI95,AN,186-187,2,SCHOOL HIGH GRADE (FROM GRADE ENROLLMENT),185,187,1995
21,UG95,N,188-192,5,STUDENTS IN UNGRADED CLASSES,187,192,1995
22,PK95,N,193-197,5,PREKINDERGARTEN STUDENTS,192,197,1995
23,KG95,N,198-202,5,KINDERGARTEN STUDENTS,197,202,1995
24,G0195,N,203-207,5,1ST GRADE STUDENTS,202,207,1995
25,G0295,N,208-212,5,2ND GRADE STUDENTS,207,212,1995
26,G0395,N,213-217,5,3RD GRADE STUDENTS,212,217,1995
27,G0495,N,218-222,5,4TH GRADE STUDENTS,217,222,1995
28,G0595,N,223-227,5,5TH GRADE STUDENTS,222,227,1995
29,G0695,N,228-232,5,6TH GRADE STUDENTS,227,232,1995
30,G0795,N,233-237,5,7TH GRADE STUDENTS,232,237,1995
31,G0895,N,238-242,5,8TH GRADE STUDENTS,237,242,1995
32,G0995,N,243-247,5,9TH GRADE STUDENTS,242,247,1995
33,G1095,N,248-252,5,10TH GRADE STUDENTS,247,252,1995
34,G1195,N,253-257,5,11TH GRADE STUDENTS,252,257,1995
35,G1295,N,258-262,5,12TH GRADE STUDENTS,257,262,1995
36,MEMBER95,N,263-268,6,TOTAL MEMBERSHIP (SUM OF GRADES),262,268,1995
37,FLE95,N,269-274,6,FREE-LUNCH ELIGIBLE STUDENTS,268,274,1995
38,IND95,N,275-279,5,AM INDIAN/ALASKAN STUDENTS,274,279,1995
39,ASIAN95,N,280-284,5,ASIAN/PACIFIC ISLANDER STUDENTS,279,284,1995
40,HISP95,N,285-289,5,HISPANIC STUDENTS,284,289,1995
41,BLACK95,N,290-294,5,BLACK NON-HISPANIC STUDENTS,289,294,1995
42,WHITE95,N,295-299,5,WHITE NON-HISPANIC STUDENTS,294,299,1995
43,TOTETH95,N,300-305,6,TOTAL ETHNIC,299,305,1995
44,PUPTCH95,N,306-311,6,PUPIL TEACHER RATIO,305,311,1995
45,IFTE95,AN,312-312,1,ADJUSTED TEACHERS FLAG,311,312,1995
46,IUG95,AN,313-313,1,ADJUSTED UNGRADED STUDENTS FLAG,312,313,1995
47,IPK95,AN,314-314,1,ADJUSTED PREKINDERGARTEN STUDENTS FLAG,313,314,1995
48,IKG95,AN,315-315,1,ADJUSTED KINDERGARTEN STUDENTS FLAG,314,315,1995
49,IG0195,AN,316-316,1,ADJUSTED 1ST GRADE STUDENTS FLAG,315,316,1995

In [25]:
# Check for any invalid rows

def isint(n):
    try:
        int(n)
        return True
    except ValueError:
        return False

for f in formats.values():
    f["valid"] = f.apply(lambda x: isint(x.start) and isint(x.end), axis=1 )
    bad  = f[~f["valid"]]
    if not bad.empty:
        display(bad)
formats.keys()

dict_keys([1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995])

In [34]:


def val(t, v):
    if t == "AN":
        return v
    if v == ".":
        return 0
    if t == "N":
        return int(v) if v.isdigit() else float(v)
    return float(v)

def line_to_dict(line, format):
    row = {}
    def split(x):
        value = line[x["start"]:x["end"]].strip()
        value = val(x.Type, value)
        row[x.Name] = value

    format.apply(split, axis=1)
    return row


def read_data(year, format, session):
    results = []
    
    pre = ["ai", "kn", "ow"]
    for p in pre:
        url = f"https://nces.ed.gov/ccd/data/zip/psu{year % 100}{p}_dat.zip"
        response = session.get(url)
        with zipfile.ZipFile(io.BytesIO(response.content)) as z:
            fname = z.namelist()[0]
            with z.open(fname) as f:
                lines = [line_to_dict(line.decode("latin1"), format) for line in f]
                results.extend(lines)
    return pd.DataFrame(lines)


out = "/home/mxc/Projects/school-data-portal/drafts/_data/ccd/data"
with requests.Session() as s:
    for year in range(1987, 1996):
        try:
            df = read_data(year, formats[year], s)
        except Exception as e:
            print(f"Error reading data for year {year}: {e}")
            continue
        try:
            df.to_csv(f"{out}/ccd-{year}.csv", index=False, encoding="utf-8", escapechar="\\")
        except Exception as e:
            print(f"Error saving data for year {year}: {e}")
            continue
df

Error reading data for year 1987: could not convert string to float: 'N'
Error reading data for year 1988: could not convert string to float: 'N'
Error reading data for year 1989: could not convert string to float: 'M'
Error reading data for year 1990: could not convert string to float: 'M'
Error reading data for year 1991: could not convert string to float: 'M'
Error reading data for year 1992: could not convert string to float: 'N'
Error reading data for year 1993: could not convert string to float: 'N'
Error reading data for year 1994: could not convert string to float: 'N'
Error reading data for year 1995: could not convert string to float: 'N'

,NCESSCH,FIPS,AGENCY,LEAID,SCHNO,STID86,LEANM86,SEASCH86,SCHNAM86,ADRESS86,...,G0586,G0686,G0786,G0886,G0986,G1086,G1186,G1286,MEMBER86,YEAR
0,390434800001,39,4348,3904348,1,043489,AKRON CITY SD,001537,BARBER ELEM SCHOOL,665 GARRY RD,...,72,65,0,0,0,0,0,0,480,86
1,390434800002,39,4348,3904348,2,043489,AKRON CITY SD,065490,BARRETT ELEM SCHOOL,888 JONATHAN AVE,...,82,86,0,0,0,0,0,0,751,86
2,390434800003,39,4348,3904348,3,043489,AKRON CITY SD,002600,BETTES ELEM SCHOOL,1333 BETANA AVE,...,53,42,0,0,0,0,0,0,384,86
3,390434800004,39,4348,3904348,4,043489,AKRON CITY SD,002634,BETTY JANE ELEM SCHOOL,444 DARROW RD,...,102,103,0,0,0,0,0,0,644,86
4,390434800005,39,4348,3904348,5,043489,AKRON CITY SD,004077,BUCHTEL HIGH SCHOOL,1040 COPLEY RD,...,0,0,0,0,346,320,288,270,1224,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29733,600003000043,60,30,6000030,43,,N MARIANAS DEPT OF EDUC,CM69000300024PU,SUSUPE HEADSTART,C/O MARIANA EDUC DEPT,...,0,0,0,0,0,0,0,0,19,85
29734,600003000044,60,30,6000030,44,,N MARIANAS DEPT OF EDUC,CM69000300025PU,TANAPAG HEADSTART,C/O MARIANA EDUC DEPT,...,0,0,0,0,0,0,0,0,20,85
29735,600003000045,60,30,6000030,45,,N MARIANAS DEPT OF EDUC,CM69000300026PU,SAN ROQUE HEADSTART,C/O MARIANA EDUC DEPT,...,0,0,0,0,0,0,0,0,14,85
29736,600003000046,60,30,6000030,46,,N MARIANAS DEPT OF EDUC,CM69000300027PU,ROTA HEADSTART,SONGSONG VILLAGE,...,0,0,0,0,0,0,0,0,41,85
29737,600003000047,60,30,6000030,47,,N MARIANAS DEPT OF EDUC,CM69000300027PU,TINIAN HEADSTART,SAN JOSE VILLAGE,...,0,0,0,0,0,0,0,0,33,85

In [120]:
nyc = df[(df.ST86 == "NY") & (df.LEANM86 == "NEW YORK CITY SCH DIST")].copy()

cols = [
"NCESSCH", "SCHNO", "SEASCH86","SCHNAM86","ADRESS86","CITY86",
"ST86","ZIP86","TYPE86", "STATUS86","LOCALE86","FTE86","GRSPAN86","MEMBER86"
]
nyc = nyc[cols]
nyc.sort_values("MEMBER86", ascending=False).head(30)

,NCESSCH,SCHNO,SEASCH86,SCHNAM86,ADRESS86,CITY86,ST86,ZIP86,TYPE86,STATUS86,LOCALE86,FTE86,GRSPAN86,MEMBER86
50700,362058001914,1914.0,317800010510,AUXILIARY H S,198 FORSYTH ST,NEW YORK,NY,10002,1,1,,110.0,1010,7047
50719,362058001940,1940.0,327800010440,DE WITT CLINTON H S,MOSHOLU PKWY+ PAUL AV,BRONX,NY,10468,1,1,,255.5,0912,5038
50785,362058002016,2016.0,327800010475,JOHN F KENNEDY H S,99 TERRACE VIEW AVE,BRONX,NY,10463,1,1,,262.8,0912,4986
50693,362058001907,1907.0,327800010450,ADLAI E STEVENSON H S,1980 LAFAYETTE AVE,BRONX,NY,10473,1,1,,248.5,0912,4912
50733,362058001954,1954.0,337800010420,FRANKLIN K LANE H S,999 JAMAICA AVE,BROOKLYN,NY,11208,1,1,,214.2,0912,4526
50711,362058001928,1928.0,337800010430,BROOKLYN TECHNICAL H S,29 FT GREENE PL,BROOKLYN,NY,11217,1,1,,199.6,0912,4366
50803,362058002038,2038.0,347800010455,NEWTOWN H S,48 01 90TH ST,ELMHURST,NY,11373,1,1,,205.4,0912,4137
50706,362058001921,1921.0,337800010455,BOYS + GIRLS H S,1700 FULTON ST,BROOKLYN,NY,11213,1,1,,186.0,0912,4128
50742,362058001965,1965.0,347800010505,HILLCREST H S,160-05 HIGHLAND AVE,JAMAICA,NY,11432,1,1,,175.5,0912,3822
50724,362058001945,1945.0,337800010465,ERASMUS HALL H S,911 FLATBUSH AVE,BROOKLYN,NY,11226,1,1,,186.1,0912,3728
51576,362058002883,2883.0,357800010455,TOTTENVILLE H S,100 LUTEN AVE,STATEN ISLAND,NY,10312,1,1,,179.4,0912,3664
50721,362058001942,1942.0,337800010475,EASTERN DISTRICT H S,227 MARCY AVE,BROOKLYN,NY,11211,1,1,,182.3,0912,3618
51619,362058004418,4418.0,317800010445,SEWARD PARK H S,350 GRAND ST,NEW YORK,NY,10002,1,1,,187.5,0912,3536
50725,362058001946,1946.0,327800010425,EVANDER CHILDS H S,800 E GUNHILL RD,BRONX,NY,10467,1,1,,178.4,0912,3510
51569,362058002875,2875.0,337800010515,SOUTH SHORE H S,6565 FLATLANDS AVE,BROOKLYN,NY,11236,1,1,,179.5,0912,3490
51580,362058002887,2887.0,347800010445,WILLIAM C BRYANT H S,4810 31ST AVE,LONG ISLAND CITY,NY,11103,1,1,,175.5,0912,3489
51577,362058002884,2884.0,327800010430,WALTON H S,RESERVOIR AV& 196TH S,BRONX,NY,10468,1,1,,172.2,0912,3486
51573,362058002880,2880.0,327800010435,THEODORE ROOSEVELT H S,500 E FORDHAM RD,BRONX,NY,10458,1,1,,200.1,0912,3469
50726,362058001947,1947.0,337800010505,F D ROOSEVELT H S,5800 20TH AVE,BROOKLYN,NY,11204,1,1,,169.1,0912,3459
51548,362058002849,2849.0,317800010535,PARK WEST H S,525 W 50TH ST,NEW YORK,NY,10019,1,1,,174.6,0912,3383
50788,362058002019,2019.0,317800010480,JULIA RICHMAN H S,317 E 67TH ST,NEW YORK,NY,10021,1,1,,173.9,PK12,3315
50786,362058002017,2017.0,337800010460,JOHN JAY H S,237 SEVENTH AVE,BROOKLYN,NY,11215,1,1,,172.3,0912,3206
51589,362058004312,4312.0,337800010540,JOHN DEWEY H S,50 AVENUE X,BROOKLYN,NY,11223,1,1,,154.9,0912,3189
50736,362058001957,1957.0,317800010465,GEORGE WASHINGTON H S,549 AUDUBON AVE,NEW YORK,NY,10040,1,1,,163.2,0912,3144
50801,362058002035,2035.0,357800010440,NEW DORP H S,485 CLAWSON ST,STATEN ISLAND,NY,10306,1,1,,165.7,0912,3132
50722,362058001943,1943.0,337800010525,EDWARD R MURROW H S,1600 AVE L,BROOKLYN,NY,11230,1,1,,190.8,0912,3128
50802,362058002036,2036.0,337800010445,NEW UTRECHT H S,1601 80TH ST,BROOKLYN,NY,11214,1,1,,151.3,0912,3114
50783,362058002013,2013.0,347800010480,JOHN ADAMS H S,101-01ROCKAWAY BLVD,OZONE PARK,NY,11417,1,1,,167.8,0912,3072
50779,362058002009,2009.0,337800010425,JAMES MADISON H S,3787 BEDFORD AVE,BROOKLYN,NY,11229,1,1,,153.2,0912,3054
50800,362058002034,2034.0,317800010520,MURRY BERGTRAUM H S,411 PEARL ST,NEW YORK,NY,10038,1,1,,139.9,0912,3053

In [121]:
nyc.to_csv("ccd-1986.csv", index=False, encoding="utf-8")