In [2]:
import matplotlib.pyplot as plt
from nycschools import schools, geo, shsat
feeder = shsat.load_admission_offers()
feeder

,dbn,feeder_name,hs_applicants_n,testers_n,offers_n,ay
0,01M034,P.S. 034 FRANKLIN D. ROOSEVELT,8,8,2,2015
1,01M140,P.S. 140 NATHAN STRAUS,14,14,2,2015
2,01M184,P.S. 184M SHUANG WEN,39,39,19,2015
3,01M188,P.S. 188 THE ISLAND SCHOOL,2,2,2,2015
4,01M301,"TECHNOLOGY, ARTS, AND SCIENCES STUDIO",6,6,2,2015
...,...,...,...,...,...,...
653,84X703,BRONX PREPARATORY CHARTER SCHOOL (84X703),19,8,2,2020
654,84X704,KIPP ACADEMY CHARTER SCHOOL (84X704),15,6,2,2020
655,84X706,HARRIET TUBMAN CHARTER SCHOOL (84X706),64,15,2,2020
656,84X717,ICAHN CHARTER SCHOOL (84X717),29,7,2,2020
657,84X730,BRONX CHARTER SCHOOL FOR THE ARTS (84X730),100,13,2,2020

In [6]:
feeder.dbn.nunique()
# set(feeder.columns)

686

In [2]:
from nycschools import config
x = config.urls["shsat_apps"].data_urls
x

{'2015': 'https://data.cityofnewyork.us/resource/xqx4-kdvp.csv?$limit=1000000',
 '2016': 'https://data.cityofnewyork.us/resource/8ws3-956v.csv?$limit=1000000',
 '2017': 'https://data.cityofnewyork.us/resource/vsgi-eeb5.csv?$limit=1000000',
 '2018': 'https://data.cityofnewyork.us/resource/uf53-ree9.csv?$limit=1000000',
 '2019': 'https://data.cityofnewyork.us/resource/xuij-x4t4.csv?$limit=1000000',
 '2020': 'https://data.cityofnewyork.us/resource/k8ah-28f4.csv?$limit=1000000'}