New York City School Data Basics
=============================

This notebook loads the NYC School Demographic data.
Working with this dataset, we look at some basic
[Pandas](https://pandas.pydata.org/) operations.

We assume that you have a basic understanding of Python and
Jupyter notebooks. This is a good start if you are new to
Pandas and data science in Python.

In particular:

- loading .csv data from the portal into a `DataFrame`
- use `head()`, `tail()`, and `Series` (columns) to understand the data
- access column `Series` by name using index notation
- use `unique()`, `min()`, `max()`, `sum()`, and `mean()` to understand series data

In [1]:
# import schools from the nycschool package
from nycschools import schools

# load the demographic data into a `DataFrame` called df
df =schools.load_school_demographics()

In the next section we describe the data. 
If we display `df` notebook shows us some of the data from 
the start of the data set and some from the end.

If we call `df.head()` we get the start of the data. `df.tail()` shows us the end of the data.

Comment/uncomment the different options to see how they work

In [3]:
df

# df.head()
# df.tail()

,dbn,beds,district,geo_district,boro,school_name,short_name,ay,year,total_enrollment,...,missing_race_ethnicity_data_pct,swd_n,swd_pct,ell_n,ell_pct,poverty_n,poverty_pct,eni_pct,clean_name,zip
0,01M015,310100010015,1,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2016,2016-17,178,...,0.000000,51,0.287000,12,0.067,152,0.854,0.882,roberto clemente,10009
1,01M015,310100010015,1,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2017,2017-18,190,...,0.000000,49,0.258000,8,0.042,161,0.847,0.890,roberto clemente,10009
2,01M015,310100010015,1,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2018,2018-19,174,...,0.000000,39,0.224000,8,0.046,147,0.845,0.888,roberto clemente,10009
3,01M015,310100010015,1,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2019,2019-20,190,...,0.000000,46,0.242000,17,0.089,155,0.816,0.867,roberto clemente,10009
4,01M015,310100010015,1,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2020,2020-21,193,...,0.000000,43,0.223000,21,0.109,158,0.819,0.856,roberto clemente,10009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,84X730,320800860846,84,8,Bronx,Bronx Charter School for the Arts,PS 730,2016,2016-17,320,...,0.000000,67,0.209375,51,0.159,235,0.734,0.840,bronx charter school for the arts,10474
9997,84X730,320800860846,84,8,Bronx,Bronx Charter School for the Arts,PS 730,2017,2017-18,314,...,0.000000,68,0.216561,57,0.182,258,0.822,0.891,bronx charter school for the arts,10474
9998,84X730,320800860846,84,8,Bronx,Bronx Charter School for the Arts,PS 730,2018,2018-19,430,...,0.000000,103,0.239535,71,0.165,363,0.844,0.888,bronx charter school for the arts,10474
9999,84X730,320800860846,84,8,Bronx,Bronx Charter School for the Arts,MS 730,2019,2019-20,523,...,0.000000,117,0.223709,69,0.132,453,0.866,0.892,bronx charter school for the arts,10474
10000,84X730,320800860846,84,8,Bronx,Bronx Charter School for the Arts,MS 730,2020,2020-21,626,...,0.001597,153,0.244409,78,0.125,541,0.864,0.882,bronx charter school for the arts,10474

In [5]:
# The the `columns` property shows us the names of the cols in our `df`.
df.columns

Index(['dbn', 'beds', 'district', 'geo_district', 'boro', 'school_name',
       'short_name', 'ay', 'year', 'total_enrollment',
       'grade_3k_pk_half_day_full', 'grade_k', 'grade_1', 'grade_2', 'grade_3',
       'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9',
       'grade_10', 'grade_11', 'grade_12', 'female_n', 'female_pct', 'male_n',
       'male_pct', 'asian_n', 'asian_pct', 'black_n', 'black_pct',
       'hispanic_n', 'hispanic_pct', 'multi_racial_n', 'multi_racial_pct',
       'native_american_n', 'native_american_pct', 'white_n', 'white_pct',
       'missing_race_ethnicity_data_n', 'missing_race_ethnicity_data_pct',
       'swd_n', 'swd_pct', 'ell_n', 'ell_pct', 'poverty_n', 'poverty_pct',
       'eni_pct', 'clean_name', 'zip'],
      dtype='object')

We can access just one column using index notation -- 
`df["poverty"]` gives us just that column. We can then display or sort the data using either
the python built-in function `sorted()` or the pandas `Series` function `sort_values()`.
If we call `unique()` we will get a list of the unique values in the `Series`. In the case
of `poverty` that lets us see that the column contains string data, and not raw numbers
if the poverty level is too high or too low.

In [4]:
# get just the poverty column
poverty = df["poverty"]
poverty = poverty.sort_values()
print("Note these are sorted as strings, not number value...")
print(poverty.unique()) 

sorted(poverty.unique(), reverse=True)

Note these are sorted as strings, not number value...
['10' '100' '1000' ... '997' 'Above 95%' 'Below 5%']

['Below 5%',
 'Above 95%',
 '997',
 '995',
 '994',
 '993',
 '99',
 '987',
 '983',
 '980',
 '98',
 '979',
 '978',
 '977',
 '976',
 '975',
 '974',
 '971',
 '970',
 '97',
 '967',
 '966',
 '965',
 '964',
 '963',
 '962',
 '961',
 '960',
 '96',
 '959',
 '958',
 '957',
 '956',
 '955',
 '953',
 '952',
 '951',
 '95',
 '949',
 '948',
 '947',
 '946',
 '944',
 '943',
 '941',
 '940',
 '94',
 '938',
 '937',
 '936',
 '935',
 '934',
 '933',
 '932',
 '931',
 '930',
 '93',
 '929',
 '928',
 '927',
 '925',
 '923',
 '922',
 '921',
 '92',
 '918',
 '917',
 '916',
 '914',
 '912',
 '911',
 '910',
 '91',
 '909',
 '907',
 '906',
 '905',
 '904',
 '903',
 '902',
 '901',
 '900',
 '90',
 '898',
 '896',
 '895',
 '894',
 '893',
 '892',
 '891',
 '89',
 '889',
 '888',
 '886',
 '885',
 '884',
 '883',
 '882',
 '881',
 '880',
 '88',
 '878',
 '877',
 '876',
 '874',
 '873',
 '872',
 '871',
 '870',
 '87',
 '869',
 '868',
 '867',
 '866',
 '864',
 '863',
 '862',
 '861',
 '860',
 '86',
 '859',
 '858',
 '857',
 '856',
 '855',
 '854',
 '853',
 '852',
 '851',
 '850',
 '85',
 '847',
 '846',
 '845',
 '844',
 '843',
 '842',
 '841',
 '840',
 '84',
 '839',
 '838',
 '837',
 '835',
 '834',
 '833',
 '832',
 '831',
 '830',
 '83',
 '829',
 '828',
 '827',
 '826',
 '825',
 '823',
 '822',
 '821',
 '820',
 '82',
 '819',
 '815',
 '814',
 '813',
 '812',
 '811',
 '810',
 '81',
 '809',
 '808',
 '807',
 '806',
 '805',
 '804',
 '802',
 '801',
 '800',
 '80',
 '799',
 '797',
 '796',
 '795',
 '794',
 '793',
 '792',
 '791',
 '790',
 '79',
 '789',
 '788',
 '787',
 '786',
 '784',
 '783',
 '781',
 '780',
 '78',
 '779',
 '778',
 '777',
 '776',
 '775',
 '774',
 '773',
 '772',
 '771',
 '770',
 '77',
 '769',
 '768',
 '767',
 '765',
 '764',
 '763',
 '762',
 '761',
 '760',
 '76',
 '759',
 '758',
 '757',
 '756',
 '755',
 '754',
 '753',
 '752',
 '751',
 '750',
 '75',
 '749',
 '748',
 '747',
 '746',
 '745',
 '744',
 '743',
 '742',
 '741',
 '740',
 '74',
 '739',
 '738',
 '737',
 '736',
 '735',
 '734',
 '733',
 '732',
 '731',
 '730',
 '73',
 '729',
 '728',
 '727',
 '725',
 '724',
 '723',
 '722',
 '721',
 '720',
 '72',
 '718',
 '717',
 '716',
 '715',
 '714',
 '713',
 '712',
 '711',
 '710',
 '71',
 '709',
 '708',
 '707',
 '706',
 '705',
 '703',
 '702',
 '701',
 '700',
 '70',
 '699',
 '698',
 '697',
 '696',
 '695',
 '694',
 '693',
 '692',
 '691',
 '690',
 '69',
 '689',
 '688',
 '687',
 '686',
 '685',
 '684',
 '683',
 '682',
 '681',
 '680',
 '68',
 '679',
 '678',
 '677',
 '676',
 '675',
 '674',
 '673',
 '671',
 '670',
 '67',
 '669',
 '668',
 '667',
 '666',
 '665',
 '664',
 '663',
 '662',
 '661',
 '660',
 '66',
 '659',
 '658',
 '657',
 '656',
 '655',
 '654',
 '653',
 '652',
 '651',
 '650',
 '65',
 '649',
 '648',
 '647',
 '646',
 '645',
 '644',
 '643',
 '642',
 '641',
 '640',
 '64',
 '639',
 '638',
 '637',
 '636',
 '635',
 '634',
 '633',
 '632',
 '631',
 '630',
 '63',
 '629',
 '628',
 '627',
 '626',
 '625',
 '624',
 '623',
 '622',
 '621',
 '620',
 '62',
 '619',
 '618',
 '617',
 '616',
 '615',
 '614',
 '613',
 '612',
 '611',
 '610',
 '61',
 '609',
 '608',
 '607',
 '606',
 '605',
 '604',
 '603',
 '602',
 '601',
 '600',
 '60',
 '599',
 '598',
 '597',
 '596',
 '595',
 '594',
 '593',
 '592',
 '591',
 '590',
 '59',
 '589',
 '588',
 '587',
 '586',
 '585',
 '584',
 '583',
 '582',
 '581',
 '580',
 '58',
 '579',
 '578',
 '577',
 '576',
 '575',
 '574',
 '573',
 '572',
 '571',
 '570',
 '57',
 '569',
 '568',
 '567',
 '566',
 '565',
 '564',
 '563',
 '562',
 '561',
 '560',
 '56',
 '559',
 '558',
 '557',
 '556',
 '555',
 '554',
 '553',
 '552',
 '551',
 '550',
 '55',
 '549',
 '548',
 '547',
 '546',
 '545',
 '544',
 '543',
 '542',
 '541',
 '540',
 '54',
 '539',
 '538',
 '537',
 '536',
 '535',
 '534',
 '533',
 '532',
 '531',
 '530',
 '53',
 '529',
 '528',
 '527',
 '526',
 '525',
 '524',
 '523',
 '522',
 '521',
 '520',
 '52',
 '519',
 '518',
 '517',
 '516',
 '515',
 '514',
 '513',
 '512',
 '511',
 '510',
 '51',
 '509',
 '508',
 '507',
 '506',
 '505',
 '504',
 '503',
 '502',
 '501',
 '500',
 '50',
 '5',
 '499',
 '498',
 '497',
 '496',
 '495',
 '494',
 '493',
 '492',
 '491',
 '490',
 '49',
 '489',
 '488',
 '487',
 '486',
 '485',
 '484',
 '483',
 '482',
 '481',
 '480',
 '48',
 '479',
 '478',
 '477',
 '476',
 '475',
 '474',
 '473',
 '472',
 '471',
 '470',
 '47',
 '469',
 '468',
 '467',
 '466',
 '465',
 '464',
 '463',
 '462',
 '461',
 '460',
 '46',
 '459',
 '458',
 '457',
 '456',
 '455',
 '454',
 '453',
 '452',
 '451',
 '450',
 '45',
 '449',
 '448',
 '447',
 '446',
 '445',
 '444',
 '443',
 '442',
 '441',
 '440',
 '44',
 '439',
 '438',
 '437',
 '436',
 '435',
 '434',
 '433',
 '432',
 '431',
 '430',
 '43',
 '429',
 '428',
 '427',
 '426',
 '425',
 '424',
 '423',
 '422',
 '421',
 '420',
 '42',
 '419',
 '418',
 '417',
 '416',
 '415',
 '414',
 '413',
 '412',
 '411',
 '410',
 '41',
 '409',
 '408',
 '407',
 '406',
 '405',
 '404',
 '403',
 '402',
 '401',
 '400',
 '40',
 '4',
 '399',
 '398',
 '397',
 '396',
 '395',
 '394',
 '393',
 '392',
 '391',
 '390',
 '39',
 '389',
 '388',
 '387',
 '386',
 '385',
 '384',
 '383',
 '382',
 '381',
 '380',
 '38',
 '379',
 '378',
 '377',
 '376',
 '375',
 '374',
 '373',
 '372',
 '371',
 '370',
 '37',
 '369',
 '368',
 '367',
 '366',
 '3655',
 '365',
 '364',
 '363',
 '362',
 '361',
 '360',
 '36',
 '359',
 '358',
 '3579',
 '357',
 '356',
 '3551',
 '355',
 '354',
 '353',
 '352',
 '351',
 '350',
 '35',
 '3495',
 '349',
 '348',
 '3473',
 '347',
 '346',
 '345',
 '344',
 '343',
 '342',
 '341',
 '340',
 '34',
 '3393',
 '339',
 '338',
 '337',
 '336',
 '3350',
 '335',
 '3344',
 '334',
 '3338',
 '333',
 '332',
 '3313',
 '331',
 '3301',
 '330',
 '33',
 '329',
 '328',
 '327',
 '326',
 '325',
 '324',
 '323',
 '322',
 '321',
 '320',
 '319',
 '318',
 '317',
 '316',
 '3156',
 '315',
 '3148',
 '314',
 '313',
 '312',
 '311',
 '3107',
 '310',
 '31',
 '309',
 '3089',
 '308',
 '307',
 '306',
 '3057',
 '3053',
 '305',
 '304',
 '303',
 '302',
 '301',
 '300',
 '30',
 '2999',
 '299',
 '298',
 '2974',
 '2971',
 '297',
 '296',
 '295',
 '294',
 '293',
 '292',
 '2918',
 '291',
 '290',
 '29',
 '2897',
 '289',
 '288',
 '2877',
 '2874',
 '287',
 '286',
 '2852',
 '285',
 '2845',
 '284',
 '2830',
 '283',
 '282',
 '281',
 '2808',
 '2804',
 '2800',
 '280',
 '28',
 '279',
 '278',
 '2775',
 '2773',
 '277',
 '276',
 '2753',
 '275',
 '2743',
 '274',
 '2732',
 '273',
 '272',
 '2712',
 '271',
 '270',
 '27',
 '2697',
 '2690',
 '269',
 '2680',
 '268',
 '2678',
 '267',
 '266',
 '2651',
 '265',
 '264',
 '2639',
 '2634',
 '263',
 '2629',
 '2622',
 '262',
 '261',
 '2607',
 '260',
 '2597',
 '2596',
 '259',
 '2588',
 '2583',
 '258',
 '257',
 '2561',
 '256',
 '255',
 '2547',
 '254',
 '2538',
 '253',
 '252',
 '251',
 '2503',
 '250',
 '25',
 '249',
 '2488',
 '2485',
 '248',
 '2473',
 '247',
 '246',
 '245',
 '244',
 '243',
 '242',
 '241',
 '240',
 '24',
 '2396',
 '239',
 '238',
 '237',
 '236',
 '235',
 '234',
 '2331',
 '233',
 '232',
 '231',
 '2308',
 '230',
 '23',
 '2295',
 '229',
 '228',
 '2275',
 '2273',
 '227',
 '226',
 '225',
 '2247',
 '224',
 '223',
 '222',
 '221',
 '220',
 '22',
 '2191',
 '219',
 '218',
 '217',
 '216',
 '215',
 '214',
 '213',
 '212',
 '211',
 '2104',
 '2102',
 '210',
 '2092',
 '209',
 '208',
 '207',
 '206',
 '2051',
 '205',
 '204',
 '2036',
 '203',
 '2022',
 '202',
 '201',
 '2003',
 '200',
 '20',
 '1996',
 '199',
 '1984',
 '1980',
 '198',
 '1974',
 '197',
 '1966',
 '196',
 '1951',
 '195',
 '1944',
 '1942',
 '194',
 '1932',
 '193',
 '1926',
 '1923',
 '192',
 '191',
 '1905',
 '1902',
 '190',
 '19',
 '1899',
 '189',
 '1889',
 '188',
 '187',
 '1865',
 '1864',
 '186',
 '1854',
 '185',
 '1846',
 '1844',
 '1841',
 '184',
 '1832',
 '183',
 '1826',
 '1821',
 '182',
 '1817',
 '181',
 '1808',
 '1805',
 '180',
 '179',
 '1781',
 '178',
 '1778',
 '1774',
 '177',
 '1766',
 '176',
 '175',
 '1741',
 '174',
 '1733',
 '173',
 '172',
 '1714',
 '171',
 '170',
 '17',
 '1690',
 '169',
 '1683',
 '1682',
 '1680',
 '168',
 '1673',
 '167',
 '166',
 '1659',
 '165',
 '1647',
 '1641',
 '164',
 '1635',
 '163',
 '162',
 '1616',
 '1614',
 '1612',
 '161',
 '160',
 '16',
 '1596',
 '159',
 '1589',
 '1588',
 '158',
 '1571',
 '1570',
 '157',
 '1569',
 '1565',
 ...]

We can get a subset of the data by using index notation with
a list of column names:

`df[ ["dbn", "school_name", "total_enrollment", "poverty_1" ] ]` returns a `DataFrame`
with 4 columns.

In [5]:
df[ ["dbn", "school_name", "total_enrollment", "poverty_1" ] ]

         dbn                        school_name  total_enrollment poverty_1
0     01M015          P.S. 015 Roberto Clemente               178     85.4%
1     01M015          P.S. 015 Roberto Clemente               190     84.7%
2     01M015          P.S. 015 Roberto Clemente               174     84.5%
3     01M015          P.S. 015 Roberto Clemente               190     81.6%
4     01M015          P.S. 015 Roberto Clemente               193     81.9%
...      ...                                ...               ...       ...
9164  84X730  Bronx Charter School for the Arts               320     73.4%
9165  84X730  Bronx Charter School for the Arts               314     82.2%
9166  84X730  Bronx Charter School for the Arts               430     84.4%
9167  84X730  Bronx Charter School for the Arts               523     86.6%
9168  84X730  Bronx Charter School for the Arts               626     86.4%

[9169 rows x 4 columns]

We can run some basic statistics on a single series, to get a sense of the type of data it contains.

In [6]:
# get just the total_enrollment column, called a Series in pandas
enrollment = df["total_enrollment"]
print("The largest school:", enrollment.max())

print("The smallest school:", enrollment.min())
print("Avg (mean) school size:", enrollment.mean())
print("Avg (mode, can return multiple values) percent poverty:", list(df['poverty_1'].mode()))
print("School years included in data:", df["year"].unique())

The largest school: 6040
The smallest school: 7
Avg (mean) school size: 585.9556112989421
Avg (mode, can return multiple values) percent poverty: ['Above 95%']
School years included in data: ['2016-17' '2017-18' '2018-19' '2019-20' '2020-21']