In [5]:
# automatically reload changes we make to schools.py and ui.py
%load_ext autoreload
%autoreload 2

# load the demographic data
import pandas as pd

import numpy as np
import scipy as scipy
from scipy.stats import pearsonr
import statsmodels.api as sm
import pingouin as pg
from statsmodels.formula.api import ols


# graphs and viz
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx


import math

from IPython.display import Markdown as md

from school_data import schools, ui, exams

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
demo = schools.load_school_demographics()
regents = exams.load_regents()
df = demo.merge(regents, how="inner", on=["dbn", "ay"])

,dbn,district,boro,school_name,short_name,ay,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,...,missing_race_ethnicity_data_n,missing_race_ethnicity_data_pct,swd_n,swd_pct,ell_n,ell_pct,poverty_n,poverty_pct,eni_pct,clean_name
0,01M015,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2016,2016-17,178,17,28,...,0,0.000000,51,0.287000,12,0.067,152,0.854,0.882,roberto clemente
1,01M015,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2017,2017-18,190,17,28,...,0,0.000000,49,0.258000,8,0.042,161,0.847,0.890,roberto clemente
2,01M015,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2018,2018-19,174,13,20,...,0,0.000000,39,0.224000,8,0.046,147,0.845,0.888,roberto clemente
3,01M015,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2019,2019-20,190,14,29,...,0,0.000000,46,0.242000,17,0.089,155,0.816,0.867,roberto clemente
4,01M015,1,Manhattan,P.S. 015 Roberto Clemente,PS 15,2020,2020-21,193,17,29,...,0,0.000000,43,0.223000,21,0.109,158,0.819,0.856,roberto clemente
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9164,84X730,84,Bronx,Bronx Charter School for the Arts,PS 730,2016,2016-17,320,0,53,...,0,0.000000,67,0.209375,51,0.159,235,0.734,0.840,bronx charter school for the arts
9165,84X730,84,Bronx,Bronx Charter School for the Arts,PS 730,2017,2017-18,314,0,50,...,0,0.000000,68,0.216561,57,0.182,258,0.822,0.891,bronx charter school for the arts
9166,84X730,84,Bronx,Bronx Charter School for the Arts,PS 730,2018,2018-19,430,0,49,...,0,0.000000,103,0.239535,71,0.165,363,0.844,0.888,bronx charter school for the arts
9167,84X730,84,Bronx,Bronx Charter School for the Arts,MS 730,2019,2019-20,523,0,51,...,0,0.000000,117,0.223709,69,0.132,453,0.866,0.892,bronx charter school for the arts
9168,84X730,84,Bronx,Bronx Charter School for the Arts,MS 730,2020,2020-21,626,0,38,...,1,0.001597,153,0.244409,78,0.125,541,0.864,0.882,bronx charter school for the arts